$light-grey: #bbb;
$dark-bluegrey: #515863;
$fontsize: 1.7rem;

html {
	font-size: 10px;
}

body {
	font-family: sans-serif;
	color: #111;
	background-color: #e9e9e9;
	margin: 0;
	padding: 0;
}

header {
	background-color: $dark-bluegrey;
	color: #e9e9e9;
	border-bottom: 3px solid #111;
	padding: 1rem 0;

	h1 {
		margin: 0;
		text-indent: 1em;
		font-size: 3.5rem;
	}
}

#container {
	width: 90vw;
	max-width: 70rem;
	min-width: 30rem;
	padding: 0 2rem;
}

#todo-list {
	list-style: none;
	padding: 0;
	
	li {
		padding: .5rem 0;
		
		.task-container {
			display: flex;
		}
		
		.icon {
			padding: 0 0.3rem;
			width: $fontsize + .4;
			font-size: $fontsize + .4;
		}
		
		.edit-btn, .due-btn, .priority-btn, .incomplete {
			color: $light-grey
		}
		
		.complete-btn {
			font-size: $fontsize - .1;
		}
		
		.collapse-btn {
			color: black;
		}
		
		.task-body {
			flex-grow: 1;
			display: flex;
			align-items: center;
			line-height: $fontsize;
			
			.task-label-container {
				flex-grow: 1;
				display: flex;
				align-items: center;
				position: relative;
			}
			
			.task-label {
				flex-grow: 1;
				position: absolute;
				left: 0;
				font-size: $fontsize;
				line-height: $fontsize;
			}

			.title-editor {
				flex-grow: 1;
				position: absolute;
				left: 0;
				border: none;
				padding: 0;
				width: 100%;
				font-size: $fontsize;
				line-height: $fontsize;
				background: none;
			}
		}
	}
}

#new-task-btn {
	width: $fontsize;
	height: $fontsize;
	font-size: $fontsize;
	line-height: $fontsize;
	margin: 0 0.05rem;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: white;
	background-color: black;
}

.edit-icon {
	width: 2rem;
}

.invis {
	opacity: 0;
}