$light-grey: #bbb;

html {
	font-size: 10px;
}

body {
	font-family: sans-serif;
	color: #111;
	background-color: #e9e9e9;
	margin: 0;
	padding: 0;
}

header {
	background-color: #111;
	color: #e9e9e9;
	border-bottom: 3px solid white;
	padding: 1rem 0;

	h1 {
		margin: 0;
		text-indent: 1em;
		font-size: 3.5rem;
	}
}

#todo-list {
	$fontsize: 2.5rem;

	padding: 0 2rem;
	font-size: $fontsize;
	li {
		display: grid;
		grid-template-columns: $fontsize auto 1fr $fontsize $fontsize;
		grid-gap: 1rem;
		width: 60vw;
		max-width: 50rem;
		min-width: 30rem;
		padding: .5rem 0;
		input {
			margin: 0;
			height: $fontsize;
		}

		.edit-btn, .due-btn, .priority-btn, .incomplete {
			color: $light-grey
		}
	}

	.project {
		font-weight: bold;
	}

	.task {
		grid-template-columns: $fontsize $fontsize auto 1fr $fontsize $fontsize;
		.checkmark {
			grid-column-start: 3;
		}
	}
}

.edit-icon {
	width: 2rem;
}